<div class="row">
  <div class="col">
    <h1><%= _('Trainings') %></h1>
    <%= link_to _('New training'), new_training_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th><%= _('Title') %></th>
        <th><%= _('Principles') %></th>
        <th><%= _('Author') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @trainings %>
      </tbody>
    </table>
  </div>
</div>
