<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1>
      <%= icon(id: 'quidditch') %>
      <%= _('Trainings') %>
    </h1>
    <%= link_to _('New training'), new_training_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th><%= _('Title') %></th>
            <th><%= _('Principles') %></th>
            <th><%= _('Author') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render @trainings %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
