<div class="row page-header">
  <div class="col">
    <h1>
      <%= icon(id: 'book') %>
      <%= @training.title %>
      <% if policy(@training).edit? %>
        <%= link_to icon(id: 'edit'), edit_training_path(@training) %>
      <% end %>
    </h1>
  </div>
  <div class="col-12">
    <%= @training.step.badge %>
    <%= safe_join(@training.principles.map(&:badge)) %>
    <p class="lead"><%= @training.objective %></p>
  </div>
</div>
