<div class="nested-fields card mb-3">
  <h5 class="card-header d-flex justify-content-end">
    <%= link_to icon(id: 'trash-alt'), '#', class: 'text-danger', data: { action: 'nested-form#removeAssociation' } %>
  </h5>
  <div class="card-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :_destroy, as: :hidden %>
    <%= f.association :principle %>
    <%= f.input :tagline %>
    <%= f.input :description, as: :rich_text_area %>
    <%= f.input :training_tips, as: :rich_text_area %>
    <%= f.input :match_tips, as: :rich_text_area %>
  </div>
</div>
