<% current_location, children = location %>

<%= sortable_item(element: :li, item: current_location, class_list: %w[list-group-item]) do %>
  <div class="row">
    <div class="col-auto"><%= sortable_handle %></div>
    <div class="col"><%= link_to current_location.name, admin_equipment_location_path(current_location) %></div>
    <div class="col"><%= current_location.owner %></div>
    <div class="col">
      <% if current_location.lock.present? %>
        <%= current_location.decorate.lock.number_and_code(link: true) %>
      <% end %>
    </div>
  </div>

  <% if children.present? %>
    <%= tag.ul(class: 'list-group',
               data: { controller: 'sortable',
                       reposition_path: reposition_admin_equipment_locations_path }) do %>
      <% children.each do |child| %>
        <%= render partial: 'location', locals: { location: child } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
