<%= simple_form_for([:admin, @principle], data: { turbo: false }) do |f| %>
  <%= f.input :name %>
  <%= f.association :possession_phase %>
  <%= f.input :tagline %>
  <%= f.input :icon %>
  <%= f.input :hex_color %>
  <%= f.input :description, as: :rich_text_area %>
  <%= f.simple_fields_for :principle_steps do |psf| %>
    <div class="card mb-3">
      <h5 class="card-header">
        <%= psf.object.step.name %>
      </h5>
      <div class="card-body">
        <%= psf.input :id, as: :hidden %>
        <%= psf.association :step, as: :hidden %>
        <%= psf.input :tagline %>
        <%= psf.input :description, as: :rich_text_area %>
      </div>
    </div>
  <% end %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
