<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('3 methodical steps') %></h1>
  </div>
  <div class="col-12">
    <%= static_section(identifier: '3_methodische_stappen_intro') %>
  </div>
  <div class="col-12">
    <%= educate_navigation(active: :steps) %>
  </div>
</div>

<% @steps.each do |step| %>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">
          <%= icon(id: step.icon) %>
          <%= step.name %>
        </h5>
        <div class="card-body">
          <%= step.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
