<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('Users') %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th><%= _('Email address') %></th>
            <th><%= _('Created at') %></th>
            <th><%= _('Roles') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render @users %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
