<div class="row">
  <div class="col">
    <h1><%= _('Users') %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th><%= _('Email address') %></th>
        <th><%= _('Created at') %></th>
        <th><%= _('Roles') %></th>
      </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>
