<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= _('RHC playing style') %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<div class="d-flex overflow-hidden">
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="toasts" class="toast-container position-fixed top-0 end-0 p-3"></div>
  </div>
  <div id="sidenav">
    <div id="sidenav-logo">
      <%= link_to authenticated_root_path do %>
        <%= image_pack_tag('speelwijze.svg', alt: _('RHC playing style')) %>
      <% end %>
    </div>
    <ul>
      <li>
        <%= _('RHC playing style') %>
        <ul>
          <li><%= link_to 'Opleiden op RHC', '/opleiden-op-rhc' %></li>
          <li><%= link_to _('3 methodical steps'), steps_path %></li>
          <li><%= link_to _('8 tactical principles'), principles_path %></li>
        </ul>
      </li>
      <li>
        <%= _('Seasonal buildup') %>
        <%= sidenav_periods %>
      </li>
      <li>
        <%= _('Exercise material') %>
        <ul>
          <li><%= link_to _('Periodization'), periods_path %></li>
          <li><%= link_to _('Trainings'), trainings_path %></li>
          <li><%= link_to _('Exercises'), exercises_path %></li>
          <li><%= link_to 'Masterclasses', '/masterclasses' %></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="vw-100 bg-light">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle side navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= render partial: 'application/breadcrumbs' %>
        <button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <%= current_user.screen_name %>
          <%= icon(id: 'caret-down') %>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if current_user.admin? %>
              <li class="nav-item dropdown">
                <%= link_to _('Admin'), '#', class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown' } %>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><%= link_to _('Users'), admin_users_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Static pages'), admin_static_pages_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Static sections'), admin_static_sections_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Target categories'), admin_target_categories_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Principles'), admin_principles_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Periods'), admin_periods_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Techniques'), admin_techniques_path, class: 'dropdown-item' %></li>
                  <li><%= link_to _('Steps'), admin_steps_path, class: 'dropdown-item' %></li>
                </ul>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <%= link_to '#', class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown' } do %>
                <%= profile_image(user: current_user, size: 23, style: :rounded) %>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to _('Your profile'), profile_path, class: 'dropdown-item' %></li>
                <li class="dropdown-divider"></li>
                <li><%= link_to _('Sign out'), destroy_user_session_path, method: :delete, class: 'dropdown-item text-danger' %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%= render_flash_messages %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
